
body
{
	margin: 0px;
	font-family: "Microsoft Yahei","SimHei";

	/*overflow: hidden;*/
}

#bkgnd
{
	
	width: 100%;
	
	height: 100%;
	z-index: -10;
	position: absolute;
}

.listAll
{
  margin: 0px;
  width: 100%;
	overflow: auto;
	position: absolute;
	z-index: 1;
	/*border: red solid 1px;*/
}
.para
{
  padding-left: 3px;
  padding-right: 3px;
	transition: height 0.5s;
  color: black;
}

.lnNumberOut
{
  float:right;
}
.lnNumber
{
  /*position: absolute;
  left: 90%;*/
  cursor: default;
  z-index: -1;
  /*font-size: 140%;*/
  margin-right: 5px;
  color: rgba(80,80,80,0.8);
}

.lines
{
	margin: 2px;
	font-size: 16px;
  z-index: 5;
	background-color: rgba(255,255,255,0.5);
	transition: background-color 0.5s linear, height 0.5s;
}

.lines:hover
{
	background-color: rgba(0,64,255,0.3);
	/*color: black;*/
}
::selection
{
	background-color: rgba(180,210,210,0.4);
	color: #900090;
}

.editText
{
	background: rgba(255,0,120,0.3);
}

.modifiedStart
{
	color: rgb(100,10,10);
}

.modifiedSaved
{
	background-color: rgba(150,150,0,0.2);
}

#hlRect
{
	position: absolute;
	display: none;
	border: blue solid 2px;
	transition: all 0.3s;
	z-index: 0;
}

.animButton
{
	transition: background 0.5s;
	border: 1px black;
}
.animButton:hover
{
	background: rgba(0,64,255,0.5);
}

.menuButtonGroup
{
	position: fixed;
	z-index: 10;
}

.menuButton
{
	float:left;
	/*position: fixed;*/
	opacity: 0.2;
	transition: opacity 0.4s;
	font-size: 20px;
	cursor: default;
}

.menuButton:hover
{
	opacity: 1.0;
}

.confirmBox
{
	/*position: relative;*/
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
 	cursor: default !important;

}
#confirmTextBox
{
	width: auto;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}
.confirmButton
{
	float:left;
	width:100%;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.configBox
{
	/*position: relative;*/
  background: #FFF;
  padding: 20px;
  padding-bottom: 45px;
  width: auto;
  margin: 20px auto;
  /*text-align: center;*/
 	cursor: default !important;
}
#configOptions
{
	overflow: auto;
}
.configButton
{
	float:right;
	/*text-align: center;*/
	width:auto;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;

}
.configWithLabel
{
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.configCheckbox
{
	vertical-align: middle;
}
.badConfig
{
	background: rgba(255,0,0,0.5);
}

.hintBox
{
	position: fixed;
	font-size: 18px;
	width: 100%;
	text-align: center;
	transition: all 1s;
	opacity: 0;
	/*text-shadow: 1px 1px 2px black;*/
	z-index: 9;
}

.flex-text-wrap {
    position: relative;

    *zoom: 1;
}

textarea,
.flex-text-wrap {
    outline: 0;
    margin: 0;
    border: none;
    padding: 0;

    *padding-bottom: 0 !important;
}

.flex-text-wrap textarea,
.flex-text-wrap pre {
    white-space: pre-wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;

    *white-space: pre;
    *word-wrap: break-word;
}

.flex-text-wrap textarea {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    resize: none;

    /* IE7 box-sizing fudge factor */
    *height: 94%;
    *width: 94%;
}

.flex-text-wrap pre {
    display: block;
    visibility: hidden;
}

textarea,
.flex-text-wrap pre {
	font-family: "Microsoft Yahei";
	font-size: 16px;
	background-color: transparent;

    /*
     * Add custom styling here
     * Ensure that typography, padding, border-width (and optionally min-height) are identical across textarea & pre
     */
}